nav{
    background-color: var(--carbon-black);
    padding: 0.8rem;

}
.navbar-left{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
}

.navbar-right{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
}

.navbar-user-btn{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--background);
    color: var(--foreground);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-weight: 700;
}