.page-grid-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.page-content-area{
    grid-column-start: 3;
    grid-column-end: 13;
}

.page-sidebar{
    grid-column-start: 1;
    grid-column-end: 3;
}
