.page-sidebar{
    display: flex;
    flex-flow: column wrap;
    background-color: var(--background);
    color: var(--foreground);
    padding: 1.5rem;
    height: 100vh;
    box-sizing: border-box;

    ul{
        display: inline-flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.sidebar-top{
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}
.sidebar-item{
    padding: 0.5rem 1rem;
    width: 100%;
    
    border-radius: 0.5rem;
    font-family: var(--font-hanken-grotesk);
    font-weight: 500;
    border: 1px solid #cdcfd2;
}

.sidebar-bottom{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-bottom:2rem;
    gap: 1rem;
}
.sidebar-logo{
    padding: 1rem 0rem 1rem 0rem;
}
li{
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}