@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Google Sans Flex', 'Hanken Grotesk', sans-serif;
}

.google-sans-flex-bold {
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; 
  font-size: 3rem;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 150,
    "GRAD" 0,
    "ROND" 0;
}

